@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-color: #090e14; color: #e8f0fe; }
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #243350; border-radius: 3px; }
